{"swagger":"2.0","info":{"version":"v1","contact":{"name":"FluxoTI","email":"desenvolvimento@fluxoti.com"},"title":"Documentation 3Cplus V2","description":"There's three main ways to interface with the 3C+ V2 dialer, HTTP REST API, Realtime Events and VoIP.\n\nYou can choose which integration to use based on your needs, mainly:\n  - Use the REST API if you need a portable way to retrieve\/persist\/update specific data about a resource.\n  - Use the Realtime Events if you need to handle large amounts of data in realtime, e.g changes in state of agents or calls.\n  - Use the VoIP integration if you need to handle multimedia yourself, either by using SIP over UDP or WSS(websockets).\n\n## HTTP REST API\n\n[CHECK THE API ENDPOINTS HERE!](#operations-tag-Agents)\n\n### Authentication\n\nEvery API request needs to be authenticated using the api_token parameter:\n\n```\n?api_token=API_TOKEN_HERE\n```\n\n### Structure\n\nEvery API response contains predefined fields such as status, title, detail and transaction_id(an internal token to track the request lifecycle):\n\n```json\n{\n  \"status\": 200,\n  \"title\": \"OK\",\n  \"detail\": \"Success\",\n  \"transaction_id\": \"5ecd6fd6-c57a-11e7-a01f-3718fe4a36d2\"\n}\n```\n\n```json\n{\n  \"status\": 404,\n  \"title\": \"Not Found\",\n  \"detail\": \"Resource not found\",\n  \"transaction_id\": \"5ecd6fd6-c57a-11e7-a01f-3718fe4a36d2\"\n}\n```\n\n### Resources\n\nIf an endpoint returns a resource, it'll be embedded in a data parent field. Also, if the resource has relations, they'll be returned too:\n```json\n  {\n    \"status\": 200,\n    \"title\": \"OK\",\n    \"detail\": \"Success\",\n    \"transaction_id\": \"5ecd6fd6-c57a-11e7-a01f-3718fe4a36d2\",\n    \"data\": {\n      \"id\": 1,\n      \"name\": \"test\",\n      \"some_relation\": {\n        \"relation_field_one\": \"some\",\n      }\n    }\n  }\n```\n\nIf you only need specific fields from the resource, use a `fields` get parameter containing a comma separated list of fields that you want to be returned, for example:\n\n```\n?fields=id,name\n```\n\nYou can also filter fields from the relations, using the example resource defined above, it'll look like this:\n\n```\n?fields=id,some_relation.relation_field_one\n```\n\n### Validation Errors\n\nAll validation errors will result in a 422 status code and a field named errors will be added to the response containing the error messages:\n\n```json\n  {\n    \"status\": 422,\n    \"detail\": \"Validation errors found\",\n    \"transaction_id\": \"5ecd6fd6-c57a-11e7-a01f-3718fe4a36d2\",\n    \"errors\": {\n      \"field_name\": [\n        \"Error message\"\n      ],\n      \"another_field\": [\n        \"Another error message\"\n      ]\n    }\n  }\n```\n\n### Pagination\nEndpoints that support pagination have a notice in the description.\n\n```json\n{\n  \"status\": 200,\n  \"title\": \"OK\",\n  \"detail\": \"Success\",\n  \"data\": {\n    ...\n  },\n  \"meta\": {\n    \"pagination\": {\n      \"total\": 4,\n      \"count\": 4,\n      \"per_page\": 15,\n      \"current_page\": 1,\n      \"total_pages\": 1,\n      \"links\": []\n    }\n  }\n}\n```\n\n[CHECK THE API ENDPOINTS HERE!](#operations-tag-Agents)\n\n## VoIP \/ SIP\n\nPlease contact us to known more about those integrations.\n\n## Realtime Events\n\nTo connect to real-time events you need a socket.io client, Here's some examples using Javascript:\n\n```js\n  const io = require('socket.io-client')\n  const socket = io(\"{{ env('SOCKET_SERVER_ADDR') }}\", { transports: ['websocket'], query: { token: \"token-da-api\" } })\n```\n\nListen to especif events:\n```js\n    socket.on(\"agent-is-idle\", function (event) {\n    console.log(event);\n```\n\nThe event payload is a json encoded structure described bellow:\n\n|                                                               |\n|---------------------------------------------------------------|\n| [agent-is-idle](#model-AgentEvent)                            |\n| [agent-in-acw](#model-AgentEvent)                             |\n| [agent-login-failed](#model-AgentEvent)                       |\n| [agent-was-logged-out](#model-AgentEvent)                     |\n| [agent-entered-manual](#model-AgentEvent)                     |\n| [agent-failed-to-enter-manual](#model-AgentEvent)             |\n| [agent-left-manual-mode](#model-AgentEvent)                   |\n| [agent-failed-to-leave-manual-mode](#model-AgentEvent)        |\n| [agent-entered-manual-acw](#model-AgentEvent)                 |\n| [agent-left-manual-acw](#model-AgentEvent)                    |\n| [agent-entered-work-break](#model-AgentEvent)                 |\n| [agent-enter-work-break-failed](#model-AgentEvent)            |\n| [agent-left-work-break](#model-AgentEvent)                    |\n| [agent-leave-work-break-failed](#model-AgentEvent)            |\n| [agent-schedule](#model-AgentEvent)                           |\n| [call-was-created](#model-CallEvent)                          |\n| [call-was-answered](#model-CallEvent)                         |\n| [call-was-connected](#model-CallEvent)                        |\n| [call-was-ended](#model-CallEvent)                            |\n| [call-was-finished](#model-CallEvent)                         |\n| [call-was-abandoned](#model-CallEvent)                        |\n| [call-was-abandoned-due-amd](#model-CallEvent)                |\n| [call-was-not-answered](#model-CallEvent)                     |\n| [call-was-failed](#model-CallEvent)                           |\n| [call-history-was-created](#model-CallHistoryEvent)           |\n| [manual-call-acw-connected](#model-CallEvent)                 |\n| [manual-call-acw-disconnected](#model-CallEvent)              |\n| [hold-call](#model-CallEvent)                                 |\n| [spy-started](#model-SpyEvent)                                |\n| [spy-ended](#model-SpyEvent)                                  |\n| [spy-failed](#model-SpyEvent)                                 |\n| [list-empty](#model-ListEvent)                                |\n| [reached-max-online-agents](#model-ReachedMaxOnlineAgents)    |\n| [consult-hold](#model-CallTransferEvent)                      |\n| [consult-exit](#model-CallTransferEvent)                      |\n| [consult-transfer](#model-CallTransferEvent)                  |\n| [consult-cancel-hold](#model-CallTransferEvent)               |\n| [consult-connected](#model-CallTransferEvent)                 |\n| [consult-failed](#model-CallTransferEvent)                    |\n| [consult-transfer-failed](#model-CallTransferEvent)           |\n\n---\n"},"host":"3c.plus","schemes":["https","http"],"basePath":"\/api\/v1","produces":["application\/json"],"consumes":["application\/x-www-form-urlencoded"],"securityDefinitions":{"BearerAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Recomendado. Envie `Authorization: Bearer <token>`. S\u00e3o aceitos o `api_token` do usu\u00e1rio\n(legado) e tokens de servi\u00e7o com prefixo `3cs_`, criados em Configura\u00e7\u00f5es \u203a Integra\u00e7\u00e3o \u203a\nTokens de servi\u00e7o.\nPrefira este header \u00e0 query string `?api_token=` (veja `ApiTokenQuery`): query strings ficam\nregistradas em logs de servidor, proxies e no hist\u00f3rico do navegador.\nTokens de servi\u00e7o de papel `agent` exigem tamb\u00e9m o header `X-Agent-Id` (veja `XAgentId`) em\ntoda requisi\u00e7\u00e3o.\nErros: 401 (`token_invalid`, `token_expired`, `token_revoked`, `agent_invalid`),\n400 (`agent_required`, `agent_not_allowed`), 503 (servi\u00e7o de autentica\u00e7\u00e3o indispon\u00edvel).\n"},"ApiTokenQuery":{"type":"apiKey","in":"query","name":"api_token","description":"Legado, mantido por compatibilidade. Envie `?api_token=<token>`. S\u00e3o aceitos o `api_token`\ndo usu\u00e1rio (legado) e tokens de servi\u00e7o com prefixo `3cs_`.\nPrefira o header `Authorization: Bearer <token>` (veja `BearerAuth`): a query string fica\nregistrada em logs de servidor, proxies e no hist\u00f3rico do navegador.\nTokens de servi\u00e7o de papel `agent` exigem tamb\u00e9m o header `X-Agent-Id` (veja `XAgentId`) em\ntoda requisi\u00e7\u00e3o.\nErros: 401 (`token_invalid`, `token_expired`, `token_revoked`, `agent_invalid`),\n400 (`agent_required`, `agent_not_allowed`), 503 (servi\u00e7o de autentica\u00e7\u00e3o indispon\u00edvel).\n"},"XAgentId":{"type":"apiKey","in":"header","name":"X-Agent-Id","description":"Obrigat\u00f3rio em toda requisi\u00e7\u00e3o autenticada com um token de servi\u00e7o (`3cs_`) de papel `agent`:\ndeve conter o id de um agente ativo da empresa dona do token. N\u00e3o \u00e9 usado, e n\u00e3o \u00e9 aceito,\ncom o `api_token` legado de usu\u00e1rio nem com tokens de servi\u00e7o de outros pap\u00e9is.\nErros: 400 (`agent_required` quando ausente em um token de papel `agent`, `agent_not_allowed`\nquando enviado com um token que n\u00e3o \u00e9 `agent`), 401 (`agent_invalid` quando o id n\u00e3o\ncorresponde a um agente ativo da empresa), 503 (servi\u00e7o de autentica\u00e7\u00e3o indispon\u00edvel).\n"}},"security":[{"BearerAuth":[]},{"ApiTokenQuery":[]},{"BearerAuth":[],"XAgentId":[]},{"ApiTokenQuery":[],"XAgentId":[]}],"paths":{"\/agent\/calls":{"parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d H:i:s format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d H:i:s format","type":"string","required":false},{"name":"limit","in":"query","description":"Limit of items returned","type":"integer","required":false},{"name":"offset","in":"query","description":"An offset to apply.","type":"integer","required":false}],"get":{"tags":["Agents"],"summary":"Agent call history","description":"Only available for users with the agent or manager roles\n","responses":{"200":{"description":"An array of calls.","schema":{"$ref":"#\/definitions\/CallHistoryReports"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/login":{"post":{"tags":["Agents"],"summary":"Agent login","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"campaign","in":"formData","description":"The campaign id to login in","type":"integer","required":true},{"name":"mode","in":"formData","description":"The login mode, dialer or manual.","type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/webphone\/login":{"post":{"tags":["Agents"],"summary":"Agent login in the webphone","description":"Only available for users with the agent or manager roles and the Webphone permission.\n","parameters":[{"name":"campaign","in":"formData","description":"The campaign id to login in","type":"integer","required":true}],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/logout":{"post":{"tags":["Agents"],"summary":"Agent logout","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/connect":{"post":{"tags":["Agents"],"summary":"Connect an agent","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/work_break\/{work-break-id}\/enter":{"parameters":[{"name":"work-break-id","in":"path","description":"The work break interval id","type":"string","required":true}],"post":{"tags":["Agents"],"summary":"Enter in the work break","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/work_break\/exit":{"post":{"tags":["Agents"],"summary":"Exit from work break","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call\/enter":{"post":{"tags":["Agents"],"summary":"Enter manual call mode","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call\/dial":{"post":{"tags":["Agents"],"summary":"Start a manual call","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"phone","in":"formData","description":"The phone number","type":"integer","required":true},{"name":"shedule_id","in":"formData","description":"The schedule id","type":"string","required":false}],"responses":{"200":{"description":"The created manual call","schema":{"$ref":"#\/definitions\/ManualCall"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call\/{call-id}\/qualify":{"post":{"tags":["Agents","Schedules"],"summary":"Qualify a manual call","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true},{"name":"qualification_id","in":"formData","description":"The qualification id","type":"integer","required":true},{"name":"qualification_note","in":"formData","description":"The qualification note","type":"string","required":false}],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call\/exit":{"post":{"tags":["Agents"],"summary":"Exit manual call mode","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call_acw\/enter":{"post":{"tags":["Agents"],"summary":"Enter manual call acw mode","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call_acw\/dial":{"post":{"tags":["Agents"],"summary":"Start a manual call in acw","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"phone","in":"formData","description":"The phone number","type":"integer","required":true}],"responses":{"200":{"description":"The created manual call","schema":{"$ref":"#\/definitions\/ManualCall"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/manual_call_acw\/exit":{"post":{"tags":["Agents"],"summary":"Exit manual call acw mode","description":"Only available for users with the agent or manager roles\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/call\/{call-id}\/qualify":{"post":{"tags":["Agents","Schedules"],"summary":"Qualify a call or\/and create a scheduled call","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true},{"name":"qualification_id","in":"formData","description":"The qualification id","type":"integer","required":true},{"name":"phone","in":"formData","description":"The phone number (10 ~ 13 numbers) to schedule","type":"integer","required":false},{"name":"note","in":"formData","description":"The schedule note","type":"integer","required":false},{"name":"date","in":"formData","description":"The schedule date, date format Y-m-d H:i:s","type":"string","required":false},{"name":"qualification_note","in":"formData","description":"The qualification note","type":"string","required":false},{"name":"end_mode","in":"formData","description":"The mode in which the agent will be put on after the end of the call.\nThis option can be either dialer or manual.\n","type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/call\/{call-id}\/hangup":{"post":{"tags":["Agents"],"summary":"hangup a call connected to the agent","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true}],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/campaigns":{"get":{"tags":["Agents"],"summary":"Get the campaigns the agent belongs.","description":"By default, this endpoint lists all campaign that the agent belongs. If you want to show only the paused or the\nrunning campaigns you'll need to pass a parameter to the request. If you want only the paused campaigns, just pass\nthe `paused` parameter. Otherwise, if you only want the runnnig ones, just pass the `running` parameter.\n","responses":{"200":{"description":"A list of all campaigns the agent belongs","schema":{"$ref":"#\/definitions\/AgentCampaigns"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/work_break_intervals":{"get":{"tags":["Agents"],"summary":"Get work break intervals from logged campaign.","description":"Only available for users with the agent or manager roles\n","responses":{"200":{"description":"A list of all work break intervals","schema":{"$ref":"#\/definitions\/WorkBreakInterval"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/{user-id}\/work_break":{"put":{"tags":["Agents"],"summary":"Change the work break interval of an agent.","description":"Only available for users with the manager role\n","parameters":[{"name":"user-id","in":"path","type":"integer","description":"The agent id that will change the work break interval","required":true},{"name":"work_break_id","in":"formData","type":"integer","description":"The work break id","required":true}],"responses":{"204":{"description":"No Content"},"422":{"description":"The agent is not idle to engage in a work break interval.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/schedules":{"get":{"tags":["Agents","Schedules"],"summary":"Get schedules expired and about to expire from logged campaign.","description":"Only available for users with the agent or manager roles\n","responses":{"200":{"description":"A list of schedules expired and about to expire","schema":{"$ref":"#\/definitions\/Schedules"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents":{"get":{"tags":["Agents"],"summary":"List all agents that belongs to the company of the authenticated user","description":"Only available for users with the manager role\n","parameters":[{"name":"status","in":"query","description":"The status of the users. Either active or inactive.","type":"string","required":false},{"name":"search","in":"query","description":"A search term to be used.","type":"string","required":false}],"responses":{"200":{"description":"All agents paginated.","schema":{"$ref":"#\/definitions\/Agents"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/status":{"get":{"tags":["Agents"],"summary":"Get the actual status of all active agents on the company","description":"Only available for users with the manager role\n","responses":{"200":{"description":"A list of all agents, with extensions and status","schema":{"$ref":"#\/definitions\/AgentStatus"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/online":{"get":{"tags":["Agents"],"summary":"List User that belongs to the company of the authenticated user and are logged in","description":"Available for users with the manager and agent role\n","parameters":[],"responses":{"200":{"description":"All agents online","schema":{"$ref":"#\/definitions\/AgentStatus"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/{agent-id}\/logout":{"post":{"tags":["Agents"],"summary":"Agent logout","description":"Only available for users with the manager role\n","parameters":[{"name":"agent-id","in":"path","description":"The agent id","type":"string","required":true}],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/statistics":{"get":{"tags":["Agents"],"summary":"Get connected calls statistics","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"Filter by start date (format Y-m-d)","type":"string","required":true},{"name":"end_date","in":"query","description":"Filter by end date (format Y-m-d)","type":"string","required":true},{"name":"campaign_id","in":"query","description":"Filter by campaign_id","type":"string","required":false},{"name":"agent_id","in":"query","description":"Filter by agent_id","type":"string","required":false}],"responses":{"200":{"description":"A list of all statistics","schema":{"$ref":"#\/definitions\/AgentStatistics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/statistics\/by_agent":{"get":{"tags":["Agents"],"summary":"Get statistics by agent","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"Filter by start date","type":"string","required":true},{"name":"end_date","in":"query","description":"Filter by end date","type":"string","required":true},{"name":"campaign_id","in":"query","description":"Filter by campaign_id","type":"string","required":true}],"responses":{"200":{"description":"A list of all statistics by agent","schema":{"$ref":"#\/definitions\/AgentStatisticsByAgentList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/statistics\/by_agent\/csv":{"get":{"tags":["Agents"],"summary":"Get statistics by agent CSV","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"Filter by start date","type":"string","required":true},{"name":"end_date","in":"query","description":"Filter by end date","type":"string","required":true},{"name":"campaign_id","in":"query","description":"Filter by campaign_id","type":"string","required":true},{"name":"webhook_url","in":"query","description":"A HTTP URL where we can send a POST request to notify about the completion of your report. The body of the request will contain a HTTPS url that you can use to download your report.","type":"string","required":true}],"responses":{"204":{"description":"A generated CSV"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/qualification\/statistics":{"get":{"tags":["Agents"],"summary":"Get qualification statistics","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"Filter by start date (format Y-m-d)","type":"string","required":true},{"name":"end_date","in":"query","description":"Filter by end date (format Y-m-d)","type":"string","required":true},{"name":"campaign_id","in":"query","description":"Filter by campaign_id","type":"string","required":false},{"name":"agent_id","in":"query","description":"Filter by agent_id","type":"string","required":false}],"responses":{"200":{"description":"A list of all statistics","schema":{"$ref":"#\/definitions\/QualificationStatistics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agents\/login_history":{"get":{"tags":["Agents"],"summary":"Get Login history from agents","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"Filter by start date (format Y-m-d H:i:s)","type":"string","required":true},{"name":"end_date","in":"query","description":"Filter by end date (format Y-m-d H:i:s)","type":"string","required":true},{"name":"campaign_id","in":"query","description":"Filter by campaign_id","type":"string","required":false},{"name":"agent_id","in":"query","description":"Filter by agent_id","type":"string","required":false}],"responses":{"200":{"description":"A list of all agents login history","schema":{"$ref":"#\/definitions\/LoginHistory"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/consult":{"post":{"tags":["Agents"],"summary":"Start a consult.","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"consultedId","in":"formData","description":"The consulted agent id.","type":"integer","required":true}],"responses":{"204":{"description":"No Content"},"400":{"description":"The agent or consulted is offline.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/consult\/queue":{"post":{"tags":["Agents"],"summary":"Start a consult for a receptive queue.","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"queueId","in":"formData","description":"The receptive queue id.","type":"integer","required":true}],"responses":{"204":{"description":"No Content"},"400":{"description":"The agent is offline.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/consult\/cancel":{"post":{"tags":["Agents"],"summary":"Cancel the consult on hold.","description":"Only available for users with the agent or manager roles\n","responses":{"204":{"description":"No Content"},"400":{"description":"The agent is offline.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/consult\/exit":{"post":{"tags":["Agents"],"summary":"Exit the consult.","description":"Only available for users with the agent or manager roles\n","responses":{"204":{"description":"No Content"},"400":{"description":"The agent is offline.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/consult\/transfer":{"post":{"tags":["Agents"],"summary":"Start a transfer.","description":"Only available for users with the agent or manager roles\n","parameters":[{"name":"consultedId","in":"formData","description":"The consulted agent id.","type":"integer","required":true}],"responses":{"204":{"description":"No Content"},"400":{"description":"The agent is offline.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/click2call":{"post":{"tags":["Agents"],"summary":"Start a manual call if the agent is idle.","description":"Only available for users with the manager role.\n","parameters":[{"name":"extension","in":"formData","description":"The agent extension.","type":"integer","required":true},{"name":"phone","in":"formData","description":"The phone number.","type":"integer","required":true}],"responses":{"200":{"description":"The created manual call","schema":{"$ref":"#\/definitions\/ManualCall"}},"422":{"description":"The agent is not idle.","schema":{"$ref":"#\/definitions\/Error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/agent\/loggedCampaign":{"get":{"tags":["Campaigns"],"summary":"Get the agent logged Campaign","description":"Only available for users with the agent role\n","responses":{"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}},"200":{"description":"The campaign","schema":{"$ref":"#\/definitions\/Campaign"}}}}},"\/agents\/status\/metrics\/total":{"get":{"tags":["Status","Metrics"],"summary":"Get status and metrics the agent","description":"Only available for users with the manager or supervisor role","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d H:i:s format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d H:i:s format","type":"string","required":true},{"name":"search","in":"query","description":"Search by name or e-mail","type":"string","required":false},{"name":"active","in":"query","description":"The user's 1 active, 0 inactive","type":"string","required":false},{"name":"teamId","in":"query","description":"The team id to filter","type":"string","required":false},{"name":"status","in":"query","description":"The status to filter, use ONLINE or OFFLINE","type":"string","required":false}],"responses":{"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}},"200":{"description":"The agent status and metrics","schema":{"$ref":"#\/definitions\/AgentStatusMetrics"}}}}},"\/authenticate":{"post":{"tags":["Auth"],"summary":"Authenticate a user to receive a token. You should specify either the company subdomain in the url, company_domain or company_id.","parameters":[{"name":"user","in":"formData","description":"Either the user's email or the extension number","type":"string","required":true},{"name":"password","in":"formData","description":"The user's password","type":"string","required":true},{"name":"company_id","in":"formData","description":"The user's company id","type":"integer","required":false}],"responses":{"200":{"description":"The authenticated user","schema":{"$ref":"#\/definitions\/User"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/callbacks":{"get":{"tags":["Callbacks"],"summary":"Retrieve all company callbacks.","description":"Only available for users with the manager role\n","responses":{"200":{"description":"An array of callbacks","schema":{"$ref":"#\/definitions\/Callbacks"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls":{"get":{"tags":["Calls"],"summary":"Retrieve and filter call reports","description":"Only available for users with the manager role\n","parameters":[{"name":"per_page","in":"query","description":"How many items per page","type":"string","required":true},{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d H:i:s format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d H:i:s format","type":"string","required":false},{"name":"lists","in":"query","description":"An array of mailing list ids","type":"array","items":{"type":"integer"},"required":false},{"name":"identifier","in":"query","description":"The client identifier.","type":"string"},{"name":"identifiers","in":"query","description":"An array of identifiers","type":"array","items":{"type":"integer"},"required":false},{"name":"campaigns","in":"query","description":"An array of campaign ids","type":"array","items":{"type":"integer"},"required":false},{"name":"agents","in":"query","description":"An array of agent ids","type":"array","items":{"type":"integer"},"required":false},{"name":"qualifications","in":"query","description":"An array of qualification ids","type":"array","items":{"type":"integer"},"required":false},{"name":"numbers","in":"query","description":"An array of phone numbers","type":"array","items":{"type":"string"},"required":false},{"name":"type","in":"query","description":"Either mobile or landline","type":"string","required":false},{"name":"limit","in":"query","description":"Limit of items returned","type":"integer","required":false},{"name":"offset","in":"query","description":"An offset to apply.","type":"integer","required":false},{"name":"with_mailing","in":"query","description":"If true include the mailing data in the report.","type":"boolean","default":false,"required":true},{"name":"minimum_duration","in":"query","description":"The minimum duration of the call in seconds.","type":"integer","required":false},{"name":"maximum_duration","in":"query","description":"The maximum duration of the call in seconds.","type":"integer","required":false},{"name":"sid","in":"query","description":"The call sid.","type":"string","required":false},{"name":"is_consult","in":"query","description":"If the call is a consult (warm transfer).","type":"boolean","default":false,"required":false},{"name":"is_transfer","in":"query","description":"If the call is a transfer.","type":"boolean","default":false,"required":false},{"name":"is_transferred","in":"query","description":"If the call was transferred.","type":"boolean","default":false,"required":false},{"name":"simple_paginate","in":"query","description":"A simple pagination implementation that does not yield the number of pages. Simply follow the links to previous \/ next page instead. Will be the default paginator in the future.","type":"boolean","required":false}],"responses":{"200":{"description":"An array of call reports","schema":{"$ref":"#\/definitions\/CallHistoryReports"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/total":{"get":{"tags":["Calls"],"summary":"Retrieve and filter total call reports","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d H:i:s format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d H:i:s format","type":"string","required":false},{"name":"lists","in":"query","description":"An array of mailing list ids","type":"array","items":{"type":"integer"},"required":false},{"name":"campaigns","in":"query","description":"An array of campaign ids","type":"array","items":{"type":"integer"},"required":false},{"name":"agents","in":"query","description":"An array of agent ids","type":"array","items":{"type":"integer"},"required":false},{"name":"qualifications","in":"query","description":"An array of qualification ids","type":"array","items":{"type":"integer"},"required":false},{"name":"numbers","in":"query","description":"An array of phone numbers","type":"array","items":{"type":"string"},"required":false},{"name":"type","in":"query","description":"Either mobile or landline","type":"string","required":false},{"name":"limit","in":"query","description":"Limit of items returned","type":"integer","required":false},{"name":"offset","in":"query","description":"An offset to apply.","type":"integer","required":false},{"name":"is_consult","in":"query","description":"If the call is a consult (warm transfer).","type":"boolean","default":false,"required":false},{"name":"is_transfer","in":"query","description":"If the call is a transfer.","type":"boolean","default":false,"required":false},{"name":"is_transferred","in":"query","description":"If the call was transferred.","type":"boolean","default":false,"required":false}],"responses":{"200":{"description":"The total call report","schema":{"$ref":"#\/definitions\/TotalCallHistoryReport"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/csv":{"get":{"tags":["Calls"],"summary":"Generate a call history csv report.","description":"Only available for users with the manager role\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d H:i:s format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d H:i:s format","type":"string","required":false},{"name":"lists","in":"query","description":"An array of mailing list ids","type":"array","items":{"type":"integer"},"required":false},{"name":"identifiers","in":"query","description":"An array of identifiers","type":"array","items":{"type":"integer"},"required":false},{"name":"campaigns","in":"query","description":"An array of campaign ids","type":"array","items":{"type":"integer"},"required":false},{"name":"agent_ids","in":"query","description":"An array of agent ids","type":"array","items":{"type":"integer"},"required":false},{"name":"statuses","in":"query","description":"An array of status ids","type":"array","items":{"type":"integer"},"required":false},{"name":"qualifications","in":"query","description":"An array of qualification ids","type":"array","items":{"type":"integer"},"required":false},{"name":"numbers","in":"query","description":"An array of phone numbers","type":"array","items":{"type":"string"},"required":false},{"name":"type","in":"query","description":"Either mobile or landline","type":"string","required":false},{"name":"limit","in":"query","description":"Limit of items returned","type":"integer","required":false},{"name":"offset","in":"query","description":"An offset to apply.","type":"integer","required":false},{"name":"with_mailing","in":"query","description":"If true include the mailing data in the report.","type":"boolean","default":false,"required":true},{"name":"webhook_url","in":"query","type":"string","description":"A HTTP URL where we can send a POST request to notify about the completion of your report. The body of the request will contain a HTTPS url that you can use to download your report.","required":true}],"responses":{"204":{"description":"No Content."},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/receptive":{"get":{"tags":["Calls"],"summary":"List all active receptive calls group by queue id","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of calls","schema":{"$ref":"#\/definitions\/Calls"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/{call-id}":{"parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true}],"get":{"tags":["Calls"],"summary":"Retrieve a single call report","description":"Only available for users with the manager and agent role\n","parameters":[],"responses":{"200":{"description":"A call history report","schema":{"$ref":"#\/definitions\/CallHistoryReport"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/{call-id}\/recording":{"parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true},{"name":"original","in":"query","description":"Return the original recording without conversion.","type":"boolean","required":false}],"get":{"tags":["Calls","Records"],"summary":"Download a recording for the given call","description":"A call recording","parameters":[],"responses":{"200":{"description":"The recording file.","headers":{"Content-type":{"type":"string","description":"audio\/mpeg, audio\/wave or audio\/gsm"},"Content-Disposition":{"type":"string","description":"attachment; filename=filename.ext"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/{call-id}\/recording_amd":{"parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true},{"name":"original","in":"query","description":"Return the original recording without conversion.","type":"boolean","required":false}],"get":{"tags":["Calls","Records"],"summary":"Download an AMD recording for the given call","description":"Download AMD recording","parameters":[],"responses":{"200":{"description":"The recording file.","headers":{"Content-type":{"type":"string","description":"audio\/mpeg, audio\/wave or audio\/gsm"},"Content-Disposition":{"type":"string","description":"attachment; filename=filename.ext"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/{call-id}\/recording_consult":{"parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true}],"get":{"tags":["Calls","Records"],"summary":"Download a consult recording for the given call","parameters":[],"responses":{"200":{"description":"The recording file, if the call is a transfer.","headers":{"Content-type":{"type":"string","description":"audio\/mpeg, audio\/wave or audio\/gsm"},"Content-Disposition":{"type":"string","description":"attachment; filename=filename.mp3"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/{call-id}\/recording_transfer":{"parameters":[{"name":"call-id","in":"path","description":"The call id","type":"string","required":true}],"get":{"tags":["Calls","Records"],"summary":"Download a transfer recording for the given call","parameters":[],"responses":{"200":{"description":"The recording file, if the call is a transfer.","headers":{"Content-type":{"type":"string","description":"audio\/mpeg, audio\/wave or audio\/gsm"},"Content-Disposition":{"type":"string","description":"attachment; filename=filename.mp3"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/records\/{year}\/{month}\/{day}":{"parameters":[{"name":"year","in":"path","description":"The four digit number corresponding to the respective year, e.g. 2019.","type":"string","required":true},{"name":"month","in":"path","description":"The two digit number corresponding to the respective month, e.g. 09.","type":"string","required":true},{"name":"day","in":"path","description":"The two digit number corresponding to the respective day, e.g. 05. Optional.","type":"string","required":true}],"get":{"tags":["Calls","Records"],"summary":"Download a zip archive containing all call recordings for the given timestamp. NOTE: Your download will likely get interrupted by network outtage if you choose large timestamps, like months or year. Since we stream this archive on-the-fly from memory, this operation can't be resumed, so we recommend to download only by day.","description":"Download call recordings for a given timestamp.","parameters":[],"responses":{"200":{"description":"The zip archive.","headers":{"Content-type":{"type":"string","description":"application\/zip, application\/octet-stream"},"Content-Disposition":{"type":"string","description":"attachment; filename=filename.zip"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/calls\/sid\/{sid}":{"parameters":[{"name":"sid","in":"path","description":"The call string identifier.","type":"string","required":true}],"get":{"tags":["Calls"],"summary":"Retrieve a call report for a specific call string identifier","description":"Use the [calls\/id](#\/Calls\/get_calls__call_id_) endpoint.\nOnly available for users with the manager and agent role\n","parameters":[],"deprecated":true,"responses":{"200":{"description":"A call history report","schema":{"$ref":"#\/definitions\/CallHistoryReport"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns":{"get":{"tags":["Campaigns"],"summary":"List all campaigns that belongs to the company of the authenticated user","description":"Only available for users with the manager role\n","parameters":[{"name":"paused","in":"query","type":"boolean","description":"Filter by status (paused or running)"},{"name":"search","in":"query","type":"string","description":"Search term"}],"responses":{"200":{"description":"All campaigns Paginated","schema":{"$ref":"#\/definitions\/Campaigns"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"post":{"tags":["Campaigns"],"summary":"Create a new campaign","description":"Only available for users with the manager role","parameters":[{"name":"name","in":"formData","description":"The campaign's name","type":"string","required":true},{"name":"extension_number","in":"formData","description":"The campaign's extension number","type":"integer","required":true},{"name":"start_time","in":"formData","description":"The time for the start of the campaign. Must be in 09:00 format","type":"string","required":true},{"name":"qualification_list","in":"formData","description":"The qualification id list","type":"string","required":true},{"name":"end_time","in":"formData","description":"The time for the end of the campaign. Must be in 09:00 format","type":"string","required":true},{"name":"allows_manual","in":"formData","description":"True to enable the manual calls, false disable","type":"boolean","required":false},{"name":"url","in":"formData","description":"A valid url for the campaign","type":"string","required":false},{"name":"acw_timeout","in":"formData","description":"The ACW timeout before auto qualification. The number 0 is the default and means unlimited.","type":"integer","required":false},{"name":"caller_id","in":"formData","description":"The campaign's caller id","type":"string","required":false},{"name":"route_landline_id","in":"formData","description":"The Route landline id","type":"string","required":false},{"name":"route_mobile_id","in":"formData","description":"The Route mobile id","type":"string","required":false},{"name":"check_amd","in":"formData","description":"True to enable the amd, false disable","type":"boolean","required":false},{"name":"copy_identifier","in":"formData","description":"If true, copy the identifier of the connected call","type":"boolean","required":false},{"name":"active_list_notify","in":"formData","description":"True to enable the completed list nofication, false disable","type":"boolean","required":false},{"name":"limit_call_per_agent","in":"formData","description":"The call limit per agent","type":"integer","required":false},{"name":"limit_call_time","in":"formData","description":"The limit call time","type":"integer","required":false},{"name":"work_break_group_id","in":"formData","description":"The work_break_group_id id list","type":"string","required":false},{"name":"ivr_after_call_id","in":"formData","description":"The ivr_after_call_id id list","type":"string","required":false},{"name":"recalls","in":"formData","description":"The amount recalls, Within 1 to 10","type":"integer","required":false},{"name":"call_time","in":"formData","description":"The call time (seconds), Within 20 to 50 seconds","type":"integer","required":false},{"name":"wait_time","in":"formData","description":"The wait time (seconds) Within 3 to 20 seconds","type":"integer","required":false},{"name":"ura_limit","in":"formData","description":"The number of channels that ivr should dial","type":"integer","required":false}],"responses":{"200":{"description":"The created campaign","schema":{"$ref":"#\/definitions\/Campaign"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"Get a campaign","description":"Only available for users with the manager role\n","responses":{"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}},"200":{"description":"The campaign","schema":{"$ref":"#\/definitions\/Campaign"}}}},"delete":{"tags":["Campaigns"],"summary":"Delete a campaign on the user's company","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"put":{"tags":["Campaigns"],"summary":"Update a campaign","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The campaign's name","type":"string","required":true},{"name":"extension_number","in":"formData","description":"The campaign's extension number","type":"integer","required":true},{"name":"start_time","in":"formData","description":"The time for the start of the campaign. Must be in 09:00 format","type":"string","required":true},{"name":"end_time","in":"formData","description":"The time for the end of the campaign. Must be in 09:00 format","type":"string","required":true},{"name":"qualification_list","in":"formData","description":"The qualification id list","type":"string","required":true},{"name":"ivr_after_call_id","in":"formData","description":"The ivr_after_call_id id list","type":"string","required":false},{"name":"url","in":"formData","description":"A valid url for the campaign","type":"string","required":false},{"name":"allows_manual","in":"formData","description":"True to enable the manual calls, false disable","type":"boolean","required":false},{"name":"acw_timeout","in":"formData","description":"The ACW timeout in seconds before auto qualification. The number 0 means unlimited.","type":"integer","required":false},{"name":"caller_id","in":"formData","description":"The campaign's caller id","type":"string","required":false},{"name":"route_landline_id","in":"formData","description":"The Route landline id","type":"string","required":false},{"name":"route_mobile_id","in":"formData","description":"The Route mobile id","type":"string","required":false},{"name":"check_amd","in":"formData","description":"True to enable the amd, false disable","type":"boolean","required":false},{"name":"copy_identifier","in":"formData","description":"If true, copy the identifier of the connected call","type":"boolean","required":false},{"name":"active_list_notify","in":"formData","description":"True to enable the completed list nofication, false disable","type":"boolean","required":false},{"name":"limit_call_per_agent","in":"formData","description":"The call limit per agent","type":"integer","required":false},{"name":"limit_call_time","in":"formData","description":"The limit call time","type":"integer","required":false},{"name":"work_break_group_id","in":"formData","description":"The work_break_group_id id list","type":"string","required":false},{"name":"recalls","in":"formData","description":"The amount recalls, Within 1 to 10","type":"integer","required":false},{"name":"call_time","in":"formData","description":"The call time (seconds), Within 20 to 50 seconds","type":"integer","required":false},{"name":"wait_time","in":"formData","description":"The wait time (seconds) Within 3 to 20 seconds","type":"integer","required":false},{"name":"ura_limit","in":"formData","description":"The number of channels that ivr should dial","type":"integer","required":false}],"responses":{"200":{"description":"The campaign","schema":{"$ref":"#\/definitions\/Campaign"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"patch":{"tags":["Campaigns"],"summary":"Partial update a campaign","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The campaign's name","type":"string","required":false},{"name":"start_time","in":"formData","description":"The time for the start of the campaign. Must be in 09:00 format","type":"string","required":false},{"name":"end_time","in":"formData","description":"The time for the end of the campaign. Must be in 09:00 format","type":"string","required":false},{"name":"allows_manual","in":"formData","description":"True to enable the manual calls, false disable","type":"boolean","required":false},{"name":"acw_timeout","in":"formData","description":"The ACW timeout in seconds before auto qualification. The number 0 means unlimited.","type":"integer","required":false},{"name":"route_landline_id","in":"formData","description":"The Route landline id","type":"string","required":false},{"name":"route_mobile_id","in":"formData","description":"The Route mobile id","type":"string","required":false},{"name":"check_amd","in":"formData","description":"True to enable the amd, false disable","type":"boolean","required":false},{"name":"copy_identifier","in":"formData","description":"If true, copy the identifier of the connected call","type":"boolean","required":false},{"name":"active_list_notify","in":"formData","description":"True to enable the completed list nofication, false disable","type":"boolean","required":false},{"name":"limit_call_per_agent","in":"formData","description":"The call limit per agent","type":"integer","required":false},{"name":"work_break_group_id","in":"formData","description":"The work_break_group_id id list","type":"string","required":false},{"name":"is_predictive","in":"formData","description":"True to enable the productive\/predictive, false disable","type":"boolean","required":false}],"responses":{"200":{"description":"The campaign","schema":{"$ref":"#\/definitions\/Campaign"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/intervals":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns","Work Break"],"summary":"Get all company's work break intervals","description":"Only available for users with the manager role\n","responses":{"200":{"description":"The company's work break intervals","schema":{"$ref":"#\/definitions\/WorkBreakIntervals"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/pause":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"put":{"tags":["Campaigns"],"summary":"Pause a campaign on the user's company","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The paused campaign","schema":{"$ref":"#\/definitions\/Campaign"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/resume":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"put":{"tags":["Campaigns"],"summary":"Resume a campaign on the user's company","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The resumed campaign","schema":{"$ref":"#\/definitions\/Campaign"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"List all agents in this campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of agents","schema":{"$ref":"#\/definitions\/Agents"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"post":{"tags":["Campaigns"],"summary":"Add agents in a campaign","description":"Only available for users with the manager role\n","parameters":[{"name":"agents[]","in":"formData","description":"An array of agent ids","type":"array","items":{"type":"integer"},"required":true}],"responses":{"200":{"description":"An array of attached agents","schema":{"$ref":"#\/definitions\/Agents"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/metrics":{"get":{"tags":["Campaigns"],"summary":"Agent metrics by hour.","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"startDate","in":"query","description":"Start date","type":"string","required":true},{"name":"endDate","in":"query","description":"End date","type":"string","required":true}],"responses":{"200":{"description":"Agent metrics","schema":{"$ref":"#\/definitions\/AgentMetrics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/metrics\/total":{"get":{"tags":["Campaigns"],"summary":"Agent metrics by total.","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"startDate","in":"query","description":"Start date","type":"string","required":true},{"name":"endDate","in":"query","description":"End date","type":"string","required":true},{"name":"orderBy","in":"query","description":"Sort the result in ascending order.","type":"string","required":false},{"name":"orderByDesc","in":"query","description":"Sort the result in descending order.","type":"string","required":false}],"responses":{"200":{"description":"Agent metrics","schema":{"$ref":"#\/definitions\/AgentMetrics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/metrics\/total\/csv":{"get":{"tags":["Campaigns"],"summary":"Generate a csv with the agent metrics aggregated by totals.","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"startDate","in":"query","description":"Start date","type":"string","required":true},{"name":"endDate","in":"query","description":"End date","type":"string","required":true},{"name":"orderBy","in":"query","description":"Sort the result in ascending order.","type":"string","required":false},{"name":"orderByDesc","in":"query","description":"Sort the result in descending order.","type":"string","required":false},{"name":"webhook_url","in":"query","description":"A HTTP URL where we can send a POST request to notify about the completion of your report. The body of the request will contain a HTTPS url that you can use to download your report.","type":"string","required":true}],"responses":{"204":{"description":"A generated CSV"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/metrics\/total_per_time":{"get":{"tags":["Campaigns"],"summary":"Agent metrics by day if time filtered is above 24 hours or by hour if time filtered is below 24 hours.","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"startDate","in":"query","description":"Start date","type":"string","required":true},{"name":"endDate","in":"query","description":"End date","type":"string","required":true},{"name":"agent_id","in":"query","description":"The agent id.","type":"string","required":false}],"responses":{"200":{"description":"An array of Agent metrics Per time","schema":{"$ref":"#\/definitions\/AgentMetricsPerTime"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/status":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"List all agents status in this campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of agents status","schema":{"$ref":"#\/definitions\/AgentStatus"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/{agent-id}":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"agent-id","in":"path","description":"The agent id","type":"string","required":true}],"delete":{"tags":["Campaigns"],"summary":"Remove an agent from a campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/qualifications":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"Filter agent qualifications statistics.","description":"","parameters":[{"name":"start_date","in":"query","description":"The start date to filter. Format: Y-m-d","type":"string","required":false},{"name":"end_date","in":"query","description":"The end date to filter. Format: Y-m-d","type":"string","required":false}],"responses":{"200":{"description":"The filtered qualification stats","schema":{"$ref":"#\/definitions\/TotalQualificationStats"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/agents\/qualifications\/csv":{"get":{"tags":["Campaigns"],"summary":"Generate a csv with the qualifications count per agent during the specified time interval.","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"startDate","in":"query","description":"Start date","type":"string","required":true},{"name":"endDate","in":"query","description":"End date","type":"string","required":true},{"name":"webhook_url","in":"query","description":"A HTTP URL where we can send a POST request to notify about the completion of your report. The body of the request will contain a HTTPS url that you can use to download your report.","type":"string","required":true}],"responses":{"204":{"description":"A generated CSV"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/calls":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"ura","in":"query","description":"True to return ura lists, false to return dialer lists","type":"boolean","required":false,"default":false}],"get":{"tags":["Campaigns"],"summary":"List all active calls group by status in this campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of calls","schema":{"$ref":"#\/definitions\/Calls"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"List all mailing lists this campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of mailing lists","schema":{"$ref":"#\/definitions\/MailingLists"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"post":{"tags":["Campaigns"],"summary":"Create a new mailing list","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The mailing list name","type":"string","required":true},{"name":"file_name","in":"formData","type":"string","description":"Name of uploaded file unsing [`this endpoint`](#post_campaigns_campaign_id_listMailingFile)"},{"name":"original_name","in":"formData","type":"string","description":"The original file name"},{"name":"header","in":"formData","type":"array","items":{"type":"string"},"description":"Array with header of mailing data. Requires one column with \u201careacodephone\u201d or  two columns with \u201cphone\u201c and \u201careacodephone\u201c. Required if \u201cfile_name\u201c is present"},{"name":"delimiter","in":"formData","type":"string","description":"The character that delimit text. Required if \u201cfile_name\u201c is present"},{"name":"separator","in":"formData","type":"string","description":"The character that separate fields. Required if \u201cfile_name\u201c is present"},{"name":"has_header","in":"formData","type":"boolean","description":"True if first line of file is header. Required if \u201cfile_name\u201c is present"},{"name":"ura_id","in":"formData","type":"integer","description":"The ura id that should play when the phone is called","required":false}],"responses":{"200":{"description":"The created mailing list","schema":{"$ref":"#\/definitions\/MailingList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"delete":{"tags":["Campaigns"],"summary":"Delete all mailing list in a campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/csv":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"post":{"tags":["Campaigns"],"summary":"Create a new mailing list","description":"Only available for users with the manager role\n","consumes":["multipart\/form-data"],"parameters":[{"name":"mailing","in":"formData","type":"file","required":true,"description":"The CSV file with mailing list data"},{"name":"name","in":"formData","description":"The mailing list name","type":"string","required":true},{"name":"header","in":"formData","type":"array","items":{"type":"string"},"description":"Array with header of mailing data. Requires one column with \u201careacodephone\u201d or  two columns with \u201cphone\u201c and \u201careacodephone\u201c. Required if \u201cfile_name\u201c is present"},{"name":"delimiter","in":"formData","type":"string","description":"The character that delimit text. Required if \u201cfile_name\u201c is present"},{"name":"separator","in":"formData","type":"string","description":"The character that separate fields. Required if \u201cfile_name\u201c is present"},{"name":"has_header","in":"formData","type":"boolean","description":"True if first line of file is header. Required if \u201cfile_name\u201c is present"},{"name":"ura_id","in":"formData","type":"integer","description":"The ura id that should play when the phone is called","required":false}],"responses":{"200":{"description":"The created mailing list","schema":{"$ref":"#\/definitions\/MailingList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/metrics":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"start_date","in":"query","description":"The start date to filter. Format: Y-m-d","type":"string","required":false},{"name":"end_date","in":"query","description":"The end date to filter. Format: Y-m-d","type":"string","required":false},{"name":"csv","in":"query","description":"Set true to generate the csv","type":"string","required":false}],"get":{"tags":["Campaigns"],"summary":"List all mailing lists metrics","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of mailing lists","schema":{"$ref":"#\/definitions\/MailingListsMetrics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign_id}\/lists\/qualifications":{"parameters":[{"name":"campaign_id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"start_date","in":"query","description":"The start date to filter. Format: Y-m-d","type":"string","required":false},{"name":"end_date","in":"query","description":"The end date to filter. Format: Y-m-d","type":"string","required":false},{"name":"csv","in":"query","description":"Set true to generate the csv","type":"string","required":false}],"get":{"tags":["Campaigns"],"summary":"List all mailing lists qualification statistic","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of mailing lists qualification statistic","schema":{"$ref":"#\/definitions\/ListQualificationStatistics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/total_metrics":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"start_date","in":"query","description":"The start date to filter. Format: Y-m-d","type":"string","required":false},{"name":"end_date","in":"query","description":"The end date to filter. Format: Y-m-d","type":"string","required":false}],"get":{"tags":["Campaigns","MailingLists"],"summary":"Get total by mailing lists metrics","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"Total mailing lists metrics","schema":{"$ref":"#\/definitions\/MailingListTotalMetrics"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/{list-id}":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"list-id","in":"path","description":"The mailing list id","type":"string","required":true}],"delete":{"tags":["Campaigns"],"summary":"Delete a mailing list in a campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/mailing":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"post":{"tags":["Campaigns"],"summary":"Upload a csv file containing the mailing lines into a fresh new mailing list","description":"Only available for users with the manager role\n","consumes":["multipart\/form-data"],"parameters":[{"name":"mailing","in":"formData","type":"file","required":true,"description":"The CSV file with mailing list data"},{"name":"delimiter","in":"formData","type":"string","required":true,"description":"The character that delimit text"},{"name":"separator","in":"formData","type":"string","required":true,"description":"The character that separate fields"},{"name":"has_header","in":"formData","type":"boolean","required":true,"description":"True if first line of file is header"}],"responses":{"202":{"description":"Info about uploaded file and preview of CSV data (header and 5 first lines)","schema":{"$ref":"#\/definitions\/MailingFilePreview"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/{list-id}\/mailing":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"list-id","in":"path","description":"The mailing list id","type":"string","required":true}],"post":{"tags":["Campaigns"],"summary":"Insert new mailing on the list","description":"Use the [mailing.json](#\/Campaigns\/post_campaigns__campaign_id__lists__list_id__mailing_json) endpoint.\n\n\nThis endpoint accepts an array of mailing to insert on the list. Each mailing object has the following schema:\n\n**phone** (required): The phone number\n**identifier** (optional): The mailing identifier\n**data** (optional): Array of additional fields for the mailing\n","parameters":[{"name":"mailing[]","in":"formData","description":"An array of mailing to insert","type":"array","required":true,"format":"form","items":{"type":"string"}}],"deprecated":true,"responses":{"200":{"description":"The inserted mailing lists"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"delete":{"tags":["Campaigns"],"summary":"Delete all mailing lines in a list","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/qualifications":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"Filter qualification stats","description":"","parameters":[{"name":"start_date","in":"query","description":"The start date to filter. Format: Y-m-d","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter. Format: Y-m-d","type":"string","required":true}],"responses":{"200":{"description":"The filtered qualification stats","schema":{"$ref":"#\/definitions\/MultipleDailyQualificationStats"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/{list-id}\/mailing.json":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"list-id","in":"path","description":"The mailing list id","type":"string","required":true}],"post":{"tags":["Campaigns"],"summary":"Insert new mailings in a list","description":"This endpoint accepts an array of mailings to insert in a list. Each mailing is a json object with the following fields:\n\n**phone** (required): A phone number\n**identifier** (optional): A mailing identifier\n**data** (optional): Additional fields for the mailing\n\nExample of a single mailing:\n\n```json\n[{\"phone\": \"2012345678\", \"identifier\": \"28394\", \"data\": { \"name\": \"John Doe\", \"address\": \"xxx\" } }]\n```\n","consumes":["application\/json"],"parameters":[{"name":"body","in":"body","description":"An array of mailings to insert","required":true,"schema":{"type":"array","items":{"$ref":"#\/definitions\/MailingItem"}}}],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/mailing\/delete":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"delete":{"tags":["Campaigns"],"summary":"Delete mailings in a campaign","description":"This endpoint accepts an array of mailings to delete. Each mailing is a json object with the following fields:\n\n**phone** (optional): A phone number\n**identifier** (optional): A mailing identifier\n\nExample of a mailing to delete:\n\n```json\n{\"phone\": \"2012345678\", \"identifier\": \"28394\" }\n```\n","consumes":["application\/json"],"parameters":[{"name":"body","in":"body","description":"An array of mailings to delete","required":true,"schema":{"type":"array","items":{"$ref":"#\/definitions\/MailingDelete"}}}],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/qualifications\/total":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns"],"summary":"Filter qualifications total stats","description":"","parameters":[{"name":"start_date","in":"query","description":"The start date to filter. Format: Y-m-d","type":"string","required":false},{"name":"end_date","in":"query","description":"The end date to filter. Format: Y-m-d","type":"string","required":false}],"responses":{"200":{"description":"The filtered qualification stats","schema":{"$ref":"#\/definitions\/TotalQualificationStats"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/lists\/{list-id}\/updateWeight":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"list-id","in":"path","description":"The mailing list id","type":"string","required":true}],"put":{"tags":["Campaigns"],"summary":"Update a list weight in a campaign.","description":"Only available for users with the manager role\n","parameters":[{"name":"weight","in":"formData","description":"The list Weight.","type":"integer","required":true}],"responses":{"200":{"description":"The created mailing list","schema":{"$ref":"#\/definitions\/MailingList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/callbacks":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"post":{"tags":["Campaigns"],"summary":"Create a new callback.","description":"Only available for users with the manager role\n","parameters":[{"name":"did","in":"formData","description":"The did phone number.","type":"string","required":true}],"responses":{"200":{"description":"The created callback","schema":{"$ref":"#\/definitions\/Callback"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/callbacks\/{callback-id}":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"callback-id","in":"path","description":"The callback id","type":"string","required":true}],"delete":{"tags":["Campaigns"],"summary":"Delete a callback in a campaign","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/schedules":{"parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"get":{"tags":["Campaigns","Schedules"],"summary":"List all or filter schedules for a given campaign","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true}],"responses":{"200":{"description":"The schedules","schema":{"$ref":"#\/definitions\/Schedules"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/campaigns\/{campaign-id}\/statistics":{"get":{"tags":["Campaigns"],"summary":"Campaign Statistic of Last","description":"Only available for users with the manager role\n","parameters":[{"name":"campaign-id","in":"path","description":"The campaign id","type":"string","required":true},{"name":"startDate","in":"query","description":"Start date","type":"string","required":true},{"name":"endDate","in":"query","description":"End date","type":"string","required":true}],"responses":{"200":{"description":"The campaign statistics","schema":{"$ref":"#\/definitions\/CampaignStatistics"}}}}},"\/company\/settings":{"put":{"tags":["Companies"],"summary":"Update the settings on the user's company","description":"Only available for users with the manager role\n","parameters":[{"name":"company_name","in":"formData","description":"The company name","type":"string","required":true},{"name":"username","in":"formData","description":"The default user name","type":"string","required":true},{"name":"email","in":"formData","description":"The email for the default user","type":"string"},{"name":"password","in":"formData","description":"The password for the default user","type":"string","required":true},{"name":"domain","in":"formData","description":"The new company domain","type":"string","required":true},{"name":"logo_name","in":"formData","description":"The new company name for the logo","type":"string","required":false},{"name":"logo_image_link","in":"formData","description":"The new company image for the logo","type":"string","required":false},{"name":"socket_channel","in":"formData","description":"A 32 characters string that will be used to listen for events.","type":"string","required":false},{"name":"language","in":"formData","description":"Default to pt-br","type":"string","required":false},{"name":"timezone","in":"formData","description":"The user's timezone. Example: America\/Sao_Paulo","type":"string","required":false},{"name":"caller_id","in":"formData","description":"The Caller ID for calls","type":"string","required":false}],"responses":{"200":{"description":"The updated company","schema":{"$ref":"#\/definitions\/Company"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/company\/generate-bill":{"post":{"tags":["Companies"],"summary":"Update the settings on the user's company","description":"Only available for users with the manager role\n","parameters":[{"name":"billing_at","in":"formData","description":"The billing date from bill, format Y-m-d, min: 1 day from now, max: 5 days from now","type":"string","required":true},{"name":"amount","in":"formData","description":"The amount credit, min: 200, max: 2000","type":"string","required":true}],"responses":{"200":{"description":"The updated company","schema":{"type":"object","properties":{"email":{"type":"string","description":"The email that will receive the bill"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/company\/calls":{"get":{"tags":["Companies"],"summary":"List all active calls group by status in this company","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"An array of calls","schema":{"$ref":"#\/definitions\/Calls"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/company_role":{"get":{"tags":["Company Role"],"summary":"List all company roles with pagination","description":"Only available for users with the admin\/manager role.\n","responses":{"200":{"description":"All company roles Paginated.","schema":{"$ref":"#\/definitions\/CompanyRole"}},"default":{"description":"Unexpected error.","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/criterion_lists":{"get":{"tags":["Criterion Lists"],"summary":"List all criterion lists that belongs to the company of the authenticated user","description":"Only available for users with the manager role\n","parameters":[{"name":"search","in":"query","type":"string","description":"Filter by name"}],"responses":{"200":{"description":"All criterion lists paginated","schema":{"$ref":"#\/definitions\/CriterionLists"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"post":{"tags":["Criterion Lists"],"summary":"Create a new criterion list in the user's company","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The criterion list's name","type":"string","required":true}],"responses":{"200":{"description":"The created criterion list","schema":{"$ref":"#\/definitions\/CriterionList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/criterion_list\/{criterion-list-id}":{"parameters":[{"name":"criterion-list-id","in":"path","description":"The Criterion List id","type":"string","required":true}],"get":{"tags":["Criterion Lists"],"summary":"Retrieve a criterion list from the user's company","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The criterion list","schema":{"$ref":"#\/definitions\/CriterionList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/criterion_list\/{criterion-list-id}\/criteria":{"parameters":[{"name":"criterion-list-id","in":"path","description":"The Criterion List id","type":"string","required":true}],"get":{"tags":["Criterion Lists"],"summary":"Retrieve a criterion list with all criteria related","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The criterion list","schema":{"$ref":"#\/definitions\/CriterionList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/criterion_lists\/{criterion-list-id}":{"parameters":[{"name":"criterion-list-id","in":"path","description":"The Criterion List id","type":"string","required":true}],"put":{"tags":["Criterion Lists"],"summary":"Update a criterion list in the user's company","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The criterion list's name","type":"string","required":true}],"responses":{"200":{"description":"The updated criterion list","schema":{"$ref":"#\/definitions\/CriterionList"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"delete":{"tags":["Criterion Lists"],"summary":"Delete a criterion list in the user's company","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/criterion_lists\/{criterion-list-id}\/criteria":{"parameters":[{"name":"criterion-list-id","in":"path","description":"The Criterion List id","type":"string","required":true}],"get":{"tags":["Criterion Lists"],"summary":"Retrieve all criteria from the criterion list","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The criteria","schema":{"$ref":"#\/definitions\/Criterion"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"post":{"tags":["Criterion Lists"],"summary":"Create a new criterion in a criterion list","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The criterion name","type":"string","required":true},{"name":"description","in":"formData","description":"The description of the criterion","type":"string","required":true},{"name":"color","in":"formData","description":"The criterion color in hexadecimal format. Example: #3b4151","type":"string","required":true},{"name":"emoji","in":"formData","description":"The criterion emoji","type":"string","required":false}],"responses":{"200":{"description":"The created criterion","schema":{"$ref":"#\/definitions\/Criterion"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/criterion_lists\/{criterion-list-id}\/criteria\/{criterion-id}":{"parameters":[{"name":"criterion-list-id","in":"path","description":"The Criterion List id","type":"string","required":true},{"name":"criterion-id","in":"path","description":"The Criterion id","type":"string","required":true}],"put":{"tags":["Criterion Lists"],"summary":"Update a criterion in a criterion list","description":"Only available for users with the manager role\n","parameters":[{"name":"name","in":"formData","description":"The criterion name","type":"string","required":true},{"name":"description","in":"formData","description":"The description of the criterion","type":"string","required":true},{"name":"color","in":"formData","description":"The criterion color in hexadecimal format. Example: #3b4151","type":"string","required":true},{"name":"emoji","in":"formData","description":"The criterion emoji","type":"string","required":false}],"responses":{"200":{"description":"The created criterion","schema":{"$ref":"#\/definitions\/Criterion"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"delete":{"tags":["Criterion Lists"],"summary":"Delete a criterion in a criterion list","description":"Only available for users with the manager role\n","parameters":[],"responses":{"204":{"description":"No content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks":{"post":{"tags":["Feedbacks"],"summary":"Create a new feedback for a call history","description":"Only available for users with the manager role.\nThis endpoint accepts an array of criterion to insert. Each criterion object has the following schema:\n```\n{\n  \"name\": \"Criterion 1\",\n  \"description\": \"this criterion is a example behavior for agents\",\n  \"color\": \"#0000FF\",\n  \"grade\": 5\n}\n```\n**all fields are required\n","parameters":[{"name":"call_history_id","in":"formData","description":"The call history id","type":"string","required":true},{"name":"comment","in":"formData","description":"The comment for the whole feedback","type":"string","required":false},{"name":"criterion_json[]","in":"formData","description":"The list of criterion for the campaign with the grades","type":"array","required":false,"format":"form","items":{"type":"string"}}],"responses":{"200":{"description":"The created feedback","schema":{"$ref":"#\/definitions\/Feedback"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"put":{"tags":["Feedbacks"],"summary":"Updates a feedback for a call history","description":"Only available for users with the manager role.\nThis endpoint accepts an array of criterion to insert. Each criterion object has the following schema:\n```\n{\n  \"name\": \"Criterion 1\",\n  \"description\": \"this criterion is a example behavior for agents\",\n  \"color\": \"#0000FF\",\n  \"grade\": 5\n}\n```\n**all fields are required\n","parameters":[{"name":"id","in":"formData","description":"The feedback id","type":"string","required":true},{"name":"comment","in":"formData","description":"The comment for the whole feedback","type":"string","required":false},{"name":"criterion_json[]","in":"formData","description":"The list of criterion for the campaign with the grades","type":"array","required":false,"format":"form","items":{"type":"string"}}],"responses":{"200":{"description":"The updated feedback","schema":{"$ref":"#\/definitions\/Feedback"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/{campaign-id}\/{call-history-id}":{"parameters":[{"name":"campaign-id","in":"path","description":"The Campaign of the call history","type":"string","required":true},{"name":"call-history-id","in":"path","description":"The Call History id","type":"string","required":true}],"get":{"tags":["Feedbacks"],"summary":"Get the feedback for a call history, a new feedback instance is provided if there is no feedback for the call history","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The feedback for call history","schema":{"$ref":"#\/definitions\/Feedback"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/{campaign-id}\/total":{"parameters":[{"name":"campaign-id","in":"path","description":"The Campaign of the call history","type":"string","required":true}],"get":{"tags":["Feedbacks"],"summary":"Get the statistics for a campaign, start_date and end_date must be provided on query string","description":"Only available for users with the manager role.\nThis endpoint return an array of statistics based on agents. Each statistics object has the following schema:\n```\n{\n  \"agent_id\": 2,\n  \"agent\": \"Agent 2\",\n  \"criterion_json\": [\n   \"Criterion 1\": {\n     \"name\": \"Criterion 1\",\n     \"total_grade\": 5,\n     \"total_count\": 1,\n   },\n   \"Criterion 2\": {\n     \"name\": \"Criterion 2\",\n     \"total_grade\": 5,\n     \"total_count\": 1,\n   },\n  ],\n \"total_feedbacks\": 1,\n}\n```\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d format","type":"string","required":true},{"name":"manager_id","in":"query","description":"The manager id to filter","type":"integer","required":false}],"responses":{"200":{"description":"The feedback statistics for Campaign","schema":{"$ref":"#\/definitions\/Feedback"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/{campaign-id}\/agent":{"parameters":[{"name":"campaign-id","in":"path","description":"The Campaign of the call history","type":"string","required":true}],"get":{"tags":["Feedbacks"],"summary":"Get the feedbacks for a agent in a campaign, start_date and end_date must be provided on query string","description":"Only available for users with the manager role.\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d format","type":"string","required":true},{"name":"agent_id","in":"query","description":"The agent id to filter","type":"integer","required":true},{"name":"manager_id","in":"query","description":"The manager id to filter","type":"integer","required":false}],"responses":{"200":{"description":"The feedbacks for a Agent and Campaign","schema":{"$ref":"#\/definitions\/Feedbacks"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/{campaign-id}\/agent\/stats":{"parameters":[{"name":"campaign-id","in":"path","description":"The current Campaign of the Agent","type":"string","required":true}],"get":{"tags":["Feedbacks"],"summary":"Get the feedbacks statistics for a agent in a campaign, start_date and end_date must be provided on query string","description":"Only available for users with the agent or manager role.\nThis endpoint return an array of statistics based on agent currently authenticated. Each statistics object has the following schema:\n```\n{\n  \"agent_id\": 2,\n  \"agent\": \"Agent 2\",\n  \"criterion_json\": [\n   \"Criterion 1\": {\n     \"name\": \"Criterion 1\",\n     \"total_grade\": 5,\n     \"total_count\": 1,\n   },\n   \"Criterion 2\": {\n     \"name\": \"Criterion 2\",\n     \"total_grade\": 5,\n     \"total_count\": 1,\n   },\n  ],\n \"total_feedbacks\": 1,\n}\n```\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d format","type":"string","required":true},{"name":"manager_id","in":"query","description":"The manager id to filter","type":"integer","required":false}],"responses":{"200":{"description":"The feedbacks statistics for a Agent and Campaign","schema":{"$ref":"#\/definitions\/Feedbacks"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/agent\/stats":{"get":{"tags":["Feedbacks"],"summary":"Get the feedbacks statistics for the agent agent currently authenticated","description":"Only available for users with the agent or manager role.\nThis endpoint return an array of statistics based on agent currently authenticated. Each statistics object has the following schema:\n```\n{\n  \"agent_id\": 2,\n  \"agent\": \"Agent 2\",\n  \"criterion_json\": [\n   \"Criterion 1\": {\n     \"name\": \"Criterion 1\",\n     \"total_grade\": 5,\n     \"total_count\": 1,\n   },\n   \"Criterion 2\": {\n     \"name\": \"Criterion 2\",\n     \"total_grade\": 5,\n     \"total_count\": 1,\n   },\n  ],\n \"total_feedbacks\": 1,\n}\n```\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d format","type":"string","required":false},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d format","type":"string","required":false},{"name":"manager_id","in":"query","description":"The manager id to filter","type":"integer","required":false}],"responses":{"200":{"description":"The feedbacks statistics for a Agent and Campaign","schema":{"$ref":"#\/definitions\/Feedbacks"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/{id}":{"parameters":[{"name":"id","in":"path","description":"The feedback id","type":"integer","required":true}],"get":{"tags":["Feedbacks"],"summary":"Get the feedback for a given id","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The feedback for a given id","schema":{"$ref":"#\/definitions\/Feedback"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/feedbacks\/{campaign-id}\/total\/csv":{"parameters":[{"name":"campaign-id","in":"path","description":"The current Campaign of the Agent","type":"string","required":true}],"get":{"tags":["Feedbacks"],"summary":"Get the statistics for a campaign, start_date and end_date must be provided on query string","description":"Only available for users with the manager role.\n","parameters":[{"name":"start_date","in":"query","description":"The start date to filter in Y-m-d format","type":"string","required":true},{"name":"end_date","in":"query","description":"The end date to filter in Y-m-d format","type":"string","required":true},{"name":"manager_id","in":"query","description":"The manager id to filter","type":"integer","required":false}],"responses":{"200":{"description":"No Content"},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/ivr_after_call":{"get":{"tags":["IVR AFTER CALL"],"summary":"List all ivrs after call with pagination","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"All ivrs after call Paginated","schema":{"$ref":"#\/definitions\/IvrAfterCall"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"post":{"tags":["IVR AFTER CALL"],"summary":"Create a new ivr after call","description":"Only available for users with the manager role","consumes":["multipart\/form-data"],"parameters":[{"name":"name","in":"formData","description":"The ivrs after call name","type":"string","required":true},{"name":"audio_start","in":"formData","type":"file","required":true,"description":"The mp3 file with the audio start"},{"name":"audio_null_key","in":"formData","type":"file","required":true,"description":"The mp3 file with the audio null key"},{"name":"audio_invalid_key","in":"formData","type":"file","required":true,"description":"The mp3 file with the audio invalid key"},{"name":"audio_end","in":"formData","type":"file","required":true,"description":"The mp3 file with the audio end"},{"name":"max_wait_time","in":"formData","description":"The key press max wait time","type":"integer","required":true},{"name":"attempt_number","in":"formData","description":"The attempt number","type":"integer","required":true}],"responses":{"200":{"description":"The created ivr after call","schema":{"$ref":"#\/definitions\/IvrAfterCall"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}}},"\/ivr_after_call\/{ivr-id}":{"parameters":[{"name":"ivr-id","in":"path","description":"The ivr after call id","type":"string","required":true}],"get":{"tags":["IVR AFTER CALL"],"summary":"Retrieve a ivr after call","description":"Only available for users with the manager role\n","parameters":[],"responses":{"200":{"description":"The ivr after call","schema":{"$ref":"#\/definitions\/IvrAfterCall"}},"default":{"description":"Unexpected error","schema":{"$ref":"#\/definitions\/Error"}}}},"delete":{"tags":["IVR AFTER CALL"],"summary":"Delete a ivr after call","description":"Only available for users with the manager role\n","responses":{"204":{"description":"No Con
[...]
